<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/test2.css">  -->
        
        <style type="text/css">
            #map{

                 height: 400px;
                 width: 100%;
                }
        </style>
    </head>
    <body bgcolor="">


            <div class="header">
                 <!-- <p id="title">IOT Bin</p>
                <p id="subtitle">Monitoring System</p> -->
            </div>




        <div class="content">
            <button class="waves-effect waves-light btn-large" id="btnAddBin">Add Bin</button>
            <a href="/"><button class="waves-effect waves-light btn-large" name="action">Back</button></a>
            <a href="/logout"><button class="waves-effect waves-light btn-large right" id="btnLogout">Logout</button></a>

            <div class="row" id="divBinForm" style="display:none; visibility: hidden">
                <div class="col s12 m6">
                    <form action="/home/<%= userName %>/bins" method="post">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Add Bin</span>
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <input type="text" id="binId" name="binId" placeholder="Enter Bin Id">
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <input type="text" id="binPassword" name="binPassword" placeholder="Enter Bin Password">
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="waves-effect waves-light btn">Add Bin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
           
		   <script> var sizeArray = []; var latiArray = []; var longiArray = []; 
                    var idArray = [];
                //  var ana[] = []; var i = 0; var j = 0;
           </script>
           
		   <div class="row">
                <% var keys = Object.keys(bins); %>
                <% keys.forEach(function(key) { %>
                    <% var binKeys = Object.keys(bins[key]);    var last = binKeys.length - 2; %>
                    <div class="col s3 m3 l3">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <!-- <script> var itm = <%= bins[key][binKeys[last]].binID %>;
                                         idArray.push(itm);
                                </script> -->
                                <span class="card-title"><%= bins[key][binKeys[last]].binID %></span>
                                <script> 
                                    
                                    var lati = <%= bins[key][binKeys[last]].latitude %>;
                                    var longi = <%= bins[key][binKeys[last]].longitude %>;
                                    var size = <%= bins[key][binKeys[last]].binsize %>;
                                    
                                    sizeArray.push(size); 
                                    latiArray.push(lati);
                                    longiArray.push(longi);
                                  //  idArray.push(id);

                                   // var i = 0; var j = 0;
            
                                    // if (i <= last){
                                    //     var itm = <%= bins[key][binKeys[last]].percentage %>;
                                    //     ana[j].push(itm);
                                    //     i++;
                                    // }
                                    // j++;

                                </script>
                                <p>Size: <%= bins[key][binKeys[last]].binsize %></p>
                            </div>
                            <div class="card-action">
                                <a href="/home/<%= userName %>/bins/<%= key %>/"><button id="btnShowBinInfo" class="waves-effect waves-light btn">Show Bin Info</button></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div id="map" style="margin-top: 440px;"></div>


        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
            var btnAddBin = document.getElementById('btnAddBin');
            var divBinForm = document.getElementById('divBinForm');
            var clicked = false;

            btnAddBin.addEventListener('click', function(event) {
                clicked = !clicked;
                if (clicked) {
                    divBinForm.setAttribute('style', 'display: in-block; visibility: visible;');
                } else {
                    divBinForm.setAttribute('style', 'display: none; visibility: hidden;');
                }
            });
        </script>


    <div class="fixed-footer">
        <!-- <div class="container">Copyright &copy; 2018 IOT BIN</div>         -->
    </div>
  

    <script>
          
          
        function initMap() {
            //map options

            var options = {
                zoom:11,
                //zoom:15,
                center: {lat:23.8103, lng:90.4125}
            }   
            //new map
            var map = new 
            google.maps.Map(document.getElementById('map'), options);


            //add marker
            var marker1 = new google.maps.Marker({
                position: {lat: latiArray[0], lng:longiArray[0]},
                map: map,
                //icon: ''

   

            });

            var infoWindow1 = new google.maps.InfoWindow({
                // content: 'Bin Size: ' + size.toString() + ' cm' + '<br>Bin Cleaned: ' + count.toString() + ' times '
                content: 'Bin Size: ' + sizeArray[0].toString() + ' cm' +' <br> Location Latitude: ' + latiArray[0].toString() 
                                                                +' <br> Location Longitude: ' + longiArray[0].toString()
                                                                 
            });

            marker1.addListener('click', function(){
                infoWindow1.open(map, marker1)
            });


            var marker2 = new google.maps.Marker({
                position: {lat: latiArray[1], lng:longiArray[1]},
                map: map,
                //icon: ''
            });

            var infoWindow2 = new google.maps.InfoWindow({
                // content: 'Bin Size: ' + size.toString() + ' cm' + '<br>Bin Cleaned: ' + count.toString() + ' times '
                content: 'Bin Size: ' + sizeArray[1].toString() + ' cm' +' <br> Location Latitude: ' + latiArray[1].toString() 
                                                                +' <br> Location Longitude: ' + longiArray[1].toString() 
            });

            marker2.addListener('click', function(){
                infoWindow2.open(map, marker2)
            });




            var marker3 = new google.maps.Marker({
                position: {lat: latiArray[2], lng:longiArray[2]},
                map: map,
                //icon: ''
            });

            var infoWindow3 = new google.maps.InfoWindow({
                // content: 'Bin Size: ' + size.toString() + ' cm' + '<br>Bin Cleaned: ' + count.toString() + ' times '
                content: 'Bin Size: ' + sizeArray[2].toString() + ' cm' +' <br> Location Latitude: ' + latiArray[2].toString() 
                                                                +' <br> Location Longitude: ' + longiArray[2].toString() 
            });

            marker3.addListener('click', function(){
                infoWindow3.open(map, marker3)
            });



            var marker4 = new google.maps.Marker({
                position: {lat: latiArray[3], lng:longiArray[3]},
                map: map,
                //icon: ''
            });

            var infoWindow4 = new google.maps.InfoWindow({
                // content: 'Bin Size: ' + size.toString() + ' cm' + '<br>Bin Cleaned: ' + count.toString() + ' times '
                content: 'Bin Size: ' + sizeArray[3].toString() + ' cm' +' <br> Location Latitude: ' + latiArray[3].toString() 
                                                                +' <br> Location Longitude: ' + longiArray[3].toString() 
            });

            marker4.addListener('click', function(){
                infoWindow4.open(map, marker4)
            });



            var marker5 = new google.maps.Marker({
                position: {lat: latiArray[4], lng:longiArray[4]},
                map: map,
                //icon: ''
            });

            var infoWindow5 = new google.maps.InfoWindow({
                // content: 'Bin Size: ' + size.toString() + ' cm' + '<br>Bin Cleaned: ' + count.toString() + ' times '
                content: 'Bin Size: ' + sizeArray[4].toString() + ' cm' +' <br> Location Latitude: ' + latiArray[4].toString() 
                                                                +' <br> Location Longitude: ' + longiArray[4].toString() 
            });

            marker5.addListener('click', function(){
                infoWindow5.open(map, marker5)
            });




        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD33uYfCgKcN6js13_NTutLCep19ZdgNEg&callback=initMap">
    
    </script>




  </body>
</html>
